img{
    width: 100%;
}
main{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
}
h1{
    margin-top: 0px;
}
h5{
    font-size: 16px;
    color: #355e94;
}
p{
    font-size: 25px;
    color: rgb(118, 102, 102);
}
span{
    font-size: 15px;
}
.word{
    display: inline-block;
}
footer{
    font-size: 30px;
    background-color:#355e94;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
}
@media screen and (max-width: 900px) {


}

